.landing {
  margin: 92px auto;
  max-width: 640px;
  padding: 128px 64px 96px;
  background-color: rgba(0, 0, 0, 0.44);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.34);

  .avatar-hero {
    md-icon {
      height: 512px;
      width: 512px;
    }
  }
  .curved-arrow {
    height: 64px;
    width: 64px;
  }
  .get-started {
    .get-started-btn {
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}
