.post-card {
  margin: 6px 0 12px;

  .post-header-image {
    background-size: cover;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid white;
  }
  .post-user-link {
    display: inline-block;
    /*line-height: 38px;*/
    vertical-align: top;
    text-align: left;
    text-decoration: none;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    max-width: 346px;
    
    &:hover {
      text-decoration: underline;
    }
  }
  .mat-card-subtitle {

  }
  .post-location {
    margin: 0;
    padding: 0;

    md-icon {
      color: rgba(0,0,0,.32);
      height: 16px;
      width: 16px;
      font-size: 16px;
    }
    span {
      display: inline-block;
      margin-left: 2px;
      color: rgba(0,0,0,.54);
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      white-space: nowrap;
      max-width: 346px;
    }
  }

  .timestamp-camera-container {
    height: 40px;
    margin: 0;
    font-size: 14px;

    .post-time-ago {
      color: rgba(0,0,0,.54);
      text-align: right;
      margin-bottom: 8px;

      md-icon {
        color: rgba(0,0,0,.32);
        height: 16px;
        width: 16px;
        font-size: 16px;
      }
      span {
        display: inline-block;
        margin-left: 6px;
        color: rgba(0,0,0,.54);
      }
    }

    .camera-info {
      text-align: right;
      margin: 0;
      padding: 0;

      md-icon {
        color: rgba(0,0,0,.32);
        height: 16px;
        width: 16px;
        font-size: 16px;
      }
      span {
        display: inline-block;
        margin-left: 6px;
        color: rgba(0,0,0,.54);
      }
    }
  }

  .post-image {
    flex: 1;
    background-size: cover;
    background-position: 50% 50%;
    box-sizing: border-box;
    padding-top: 25%;
    position: relative;
    padding-bottom: 25%;
    min-height: 296px;
    cursor: pointer;
  }
  .btn-like {
    color: #FF5252;
  }
  .tags-chip-list {
    display: inline-block;
    .mat-chip {
      cursor: pointer;
      margin: 2px;
    }
  }

  .post-actions {
    .btn-like {
      color: #FF5252;
    }
    .comment-input {
      width: 100%;
    }
  }

  .meta-info {
    text-align: right;
    line-height: 40px;
    margin: 0;
    padding: 0;

    md-icon {
      color: rgba(0,0,0,.32);
    }
    span {
      display: inline-block;
      padding-left: 4px;
      color: rgba(0,0,0,.54);
    }
  }
}


@media screen and (max-width: 640px) {
  .post-card .post-user-link,
  .post-card .post-location span {
    max-width: 204px;
  }
}

@media screen and (max-width: 479px) {
  .post-card .post-user-link,
  .post-card .post-location span {
    max-width: 160px;
  }
}