.post-card {
  margin: 6px 0 12px;

  .post-header-image {
    background-size: cover;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid white;
  }
  .post-user-link {
    display: inline-block;
    /*line-height: 38px;*/
    vertical-align: top;
    text-align: left;
    text-decoration: none;
    color: #000;
    
    &:hover {
      text-decoration: underline;
    }
  }
  .mat-card-subtitle {

  }
  .post-location {
    margin: 0;
    padding: 0;

    md-icon {
      color: rgba(0,0,0,.32);
      height: 16px;
      width: 16px;
      font-size: 16px;
    }
    span {
      display: inline-block;
      padding-left: 2px;
      color: rgba(0,0,0,.54);
    }
  }
  .post-time-ago {
    height: 40px;
    margin: 0 8px;
    line-height: 40px;
    color: rgba(0,0,0,.54);
    font-size: 13px;
  }

  .post-image {
    flex: 1;
    background-size: cover;
    background-position: 50% 50%;
    box-sizing: border-box;
    padding-top: 25%;
    position: relative;
    padding-bottom: 25%;
    min-height: 296px;
    cursor: pointer;
  }

  .post-actions {
    .btn-like {
      color: #FF5252;
    }
    .comment-input {
      width: 100%;
    }
  }

  .meta-info {
    text-align: right;
    line-height: 40px;
    margin: 0;
    padding: 0;

    md-icon {
      color: rgba(0,0,0,.32);
    }
    span {
      display: inline-block;
      color: rgba(0,0,0,.54);
    }
  }
}