.app-component-wrapper {
  height: 100%;
}

.app-content-container {
  overflow: auto;
  height: calc(100vh - 128px);

  .app-content {
    margin: 32px auto;
    max-width: 646px;
  }
  .app-content-wide {
    margin: 32px auto;
    max-width: 1024px;
  }
}

@media screen and (max-width: 840px) {
  .app-content-container {
    height: calc(100vh - 56px);
  }
}

@media screen and (max-width: 479px) {
  .app-content-container {
    height: calc(100vh - 56px);
  }
}