<div class="app-content-container">
  <div id="page-user-info" class="app-content-wide" *ngIf="currentPerson">

    <div class="fp-user-container mat-elevation-z2">
      <div class="fp-user-avatar"
           [ngStyle]="{ 'background-image': 'url(' + currentPerson.profile_picture + ')' }"></div>

      <div class="fp-name-follow-container mdl-cell mdl-cell--5-col">
        <div class="fp-user-username">{{ currentPerson.full_name }}</div>

        <div class="fp-signed-in-only" *ngIf="personId == authService.id">
          <md-slide-toggle
              [(ngModel)]="currentPerson.notificationsEnabled"
              [color]="'primary'">
            Notifications {{ currentPerson.notificationsEnabled ? 'Enabled' : 'Disabled' }}
          </md-slide-toggle>
        </div>

        <div class="fp-signed-in-only" *ngIf="personId != authService.id">
          <md-slide-toggle
              [(ngModel)]="followingEnabled"
              [color]="'primary'">
            Following
          </md-slide-toggle>
        </div>

        <div class="fp-user-detail-container">
          <div class="fp-user-detail"><span class="fp-user-nbposts">{{ compositePosts ? compositePosts.length : 0 }}</span> {{ compositePosts && compositePosts.length != 1  ? 'posts' : 'post' }}</div>
          <!--
          <div class="fp-user-detail"><span class="fp-user-nbfollowers">1</span> followers</div>
          <div class="fp-user-detail fp-user-nbfollowing-container"
               [ngClass]="{'is-active': showFollowers}"
               (click)="toggleShowFollowers($event)"><span class="fp-user-nbfollowing">1</span> following</div>
           -->
        </div>
      </div>
    </div>

    <div class="fp-user-following" *ngIf="showFollowers">
      <a md-button class="fp-usernamelink" href="/person/SfWcx3sA58h573Gj9udt4A2tSZd2">
        <div class="fp-avatar"
             style="background-image: url('https://lh6.googleusercontent.com/-3vhVlg7Ydss/AAAAAAAAAAI/AAAAAAACKxI/aLJiPA6cBso/photo.jpg')"></div>
        <div class="fp-username mdl-color-text--black">Erik Haddad</div>
      </a>

      <button md-fab class="fp-close-following" (click)="toggleShowFollowers($event)">
        <md-icon>expand_less</md-icon>
      </button>
    </div>

    <div class="fp-image-container">
      <md-grid-list cols="3" rowHeight="200px" gutterSize="12px">
        <md-grid-tile
            *ngFor="let post of compositePosts"
            [colspan]="1"
            [rowspan]="1">

          <div class="fp-image" (click)="showPost(post, $event)">
            <div class="fp-overlay">
              <md-icon>favorite</md-icon><span class="likes">{{ post.likes }}</span>
              <md-icon>label</md-icon><span class="comments">{{ post.tags.length }}</span>
              <div class="fp-pic-text" *ngIf="false">{{ post.text }}</div>
            </div>
            <div class="mdl-card"
                 [ngStyle]="{ 'background-image': 'url(' + post.full_url + ')' }"></div>
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
</div>